<a href="https://colab.research.google.com/github/koffijohnmark/gdp-dashboard/blob/main/Another_copy_of_Exercise_1_5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1.5.2



## Task 1

The number of confirmed COVID-19 cases in selected countries is shown in the table below:

|             |                                |
|-------------|--------------------------------|
| Burundi     | 694                            |
| Ethiopia    | 113295                         |
| Ghana       | 52198                          |
| Kenya       | 88380                          |
| Nigeria     | 68937                          |
| Rwanda      | 6129                           |
| Somalia     | 4525                           |
| South Sudan | 3166                           |
| Sudan       | 19196                          |
| Uganda      | 22499                          |

In this task, we are going to practice using and manipulating dictionaries.

1. Create a dictionary for the given data and name it `COVID_19`

2. How many keys are in the data? assign your answer to a variable called `num_keys`.

3. Remove Nigeria from the data

4. Add Tanzania with the value $509$

#### Question 1: Create a dictionary for the given data and name it `COVID_19`

In [1]:
### CG T1_1
### Write your code below:

COVID_19 = {
    "Burundi": 694,
    "Ethiopia": 113295,
    "Ghana": 52198,
    "Kenya": 88380,
    "Nigeria": 68937,
    "Rwanda": 6129,
    "Somalia": 4525,
    "South Sudan": 3166,
    "Sudan": 19196,
    "Uganda": 22499
}

#### Question 2: How many keys are in the data? assign your answer to a variable called `num_keys`.

In [2]:
### CG T1_2
### Write your code below:
len(COVID_19) == 10

True

#### Question 3: Remove Nigeria from the dataset

#### Question 4: Add Tanzania to the dataset. Tanzania recorded $509$ cases of COVID-19.

In [4]:
### CG T1_4
### Write your code below:

# We add a new key-value pair by assigning a value to the new key.
COVID_19['Tanzania'] = 509

## Task 2

Consider the dictionary:

In [5]:
### CG T2_init
### DON'T DELETE THIS CODE!

food = {
    "fruits": ["apples", "oranges", "pears", "mangoes"],
    "vegetables": ["tomatoes", "lettuce", "spinach", "green peppers"],
    "meat": ["chicken", "fish", "beef", "ostrich"],
    "dairy": ["yogurt", "milk", "cheese", "ice-cream"]
}

#### Question 1: How many keys does the dictionary `food` have?

In [6]:
### CG T2_1
### Write your code below:
4

4

#### Question 2: List the values in `food`

In [7]:
### CG T2_2
### Write your code below:
print(food.values())

dict_values([['apples', 'oranges', 'pears', 'mangoes'], ['tomatoes', 'lettuce', 'spinach', 'green peppers'], ['chicken', 'fish', 'beef', 'ostrich'], ['yogurt', 'milk', 'cheese', 'ice-cream']])

#### Question 3: How do you access `"spinach"` from `food`?

In [8]:
### CG T2_3
### Write your code below:
print(food["vegetables"][2])

spinach

#### Question 4: How do you add `"grapes"` to the list of fruits in `food`?

In [9]:
### CG T2_4
### Write your code below:
print(food["fruits"])

['apples', 'oranges', 'pears', 'mangoes']